spring:

  datasource:
    url: jdbc:mysql://localhost:3306/videostore
    username: root
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: "1234567890_ABCDEFGHIJ_1234567890"
  expiration: 3600000

cloudinary:
  cloud-name: "videostore_cloud"
  api-key: "1234567890"
  api-secret: "abcdefghijklmnop"
